nav {
  background-color: #133667;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  padding: 1rem 2rem;
}

nav .logo {
  display: block;
  width: 100%;
  max-width: 8rem;
  height: auto;
}

nav .nav__right a:link,
nav .nav__right a:visited {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  padding: 10px 14px;
}

nav .nav__right a:hover {
  background-color: #a0aef95e;
  border-radius: 30px;
}
